envfile*
.terraform.lock.hcl
.terraform/
*tfplan
*.tfvars
terraform.tfstate
.terraform.tfstate.lock.info

## Python / Data Engineering
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.DS_Store

#IDE
.vscode
.idea

#Build
dist

local
adb_token
