{% set pipeline_name = 'Ingest_' ~ dataset_name -%}
from pysparkle.pysparkle_cli import cli


def call_pysparkle_entrypoint():
    """Execute data quality activity in Pysparkle."""
    cli(
        [
            "data-quality",
            "--config-path",
            "ingest/{{ pipeline_name }}/data_quality/ingest_dq.json",
        ],
        standalone_mode=False,
    )


if __name__ == "__main__":
    call_pysparkle_entrypoint()
