{
    "data_source_name": "{{ source_name | lower }}_azuresql_1",
    "data_source_type": "azure_sql",
    "enabled": {{ ingest_source_enabled }},
    "ingest_entities": [
        {%- for entity in ingest_entities %}
        {
            "version": {{ entity.version }},
            "display_name": "{{ entity.display_name }}",
            "enabled": {{ entity.enabled | to_json_boolean }},
            "schema": "{{ entity.schema }}",
            "table": "{{ entity.table }}",
            "columns": "{{ entity.columns }}",
            "load_type": "{{ entity.load_type }}",
            "delta_date_column": {{ entity.delta_date_column | quote_non_null }},
            "delta_upsert_key": {{ entity.delta_upsert_key | quote_non_null }}
        }{%- if not loop.last %},{% endif -%}
        {%- endfor %}
    ]
}
