{% set pipeline_name = 'Ingest_' ~ dataset_name -%}
from behave import use_fixture

from fixtures import azure_adls_clean_up

SQL_DB_INGEST_DIRECTORY_NAME = "{{ pipeline_name }}"


def before_scenario(context, scenario):
    use_fixture(azure_adls_clean_up, context, SQL_DB_INGEST_DIRECTORY_NAME)
